<footer class="text-muted app-footer">
  <div class="container">
    <p>
      Quick QR code online generator based on &copy; Bootstrap.
    </p>
    <dl class="row">
      <dt class="col-sm-3">application title:</dt>
      <dd class="col-sm-9">{{ currentApplicationTitle }}</dd>
      <dt class="col-sm-3">application codename:</dt>
      <dd class="col-sm-9">{{ currentApplicationCodeName }}</dd>
      <dt class="col-sm-3">application version:</dt>
      <dd class="col-sm-9">{{ currentApplicationVersion }}</dd>
    </dl>
  </div>
</footer>