<app-header></app-header>

<main role="main content">
  <app-jumbotron></app-jumbotron>

  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <app-qr-form></app-qr-form>
        </div>
        <div class="col-md-4">
          <app-qr-preview ></app-qr-preview>
        </div>
      </div>
    </div>
  </div>

  <div class="py-5 bg-info" *ngIf="isCreated">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <app-qr-code></app-qr-code>
        </div>
      </div>
    </div>
  </div>

  <div class="py-5" *ngIf="isFailed">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="alert-heading">Ooops</h4>
      <p>
        It seems you made some errors (<strong>4 to be precise</strong>) during the configuration 
        process. Please try again and generate another one.
      </p>
    </div>
  </div>
</main>
<app-footer></app-footer>