<form class="qr-generator my-3" [formGroup]="qrCodeForm" (ngSubmit)="qrCodeSubmit()">

  <fieldset class="form-group border p-3" id="basicSettings">
    <legend class="w-auto px-2">
      Basic settings
    </legend>
    <div class="form-group row">
      <label for="basicText" class="col-form-label">Text</label>
      <div class="col-md-12">
        <input 
          type="text"
          class="form-control"
          aria-describedby="basicTextHelp"
          [formControlName]="'basicText'"
          [ngClass]="{ 'is-invalid': submitted && basicText.invalid && basicText.errors }"
        />
      </div>
      <small id="basicTextHelp" class="form-text text-muted">
        The main content of the QR code. E.g an url or a message, etc.
      </small>
      <div *ngIf="basicText.dirty && basicText?.errors" class="invalid-feedback d-block">
        The Text field is required and must contain letter between 5 and 256
      </div>
    </div>
    <div class="form-group row">
      <label for="basicWidth" class="col-form-label">Width</label>
      <div class="col-md-12">
        <input 
          type="number"
          class="form-control"
          aria-describedby="basicWidthHelp"
          [formControlName]="'basicWidth'"
          [ngClass]="{ 'is-invalid': submitted && basicWidth.invalid && basicWidth.errors }"
        />
      </div>
      <small id="basicWidthHelp" class="form-text text-muted">
        The main size of the QR code sides in pixels.
        The width will be equal to the height of the QR code.
      </small>
      <div *ngIf="basicWidth.dirty && basicWidth?.errors" class="invalid-feedback d-block">
        The Width field is required and must be between 340 and 1024
      </div>
    </div>
    <div class="form-group row">
      <label for="basicColorDark" class="col-form-label">Dark colors</label>
      <div class="col-md-12">
        <input 
          type="color"
          class="form-control form-control-color col-md-1"
          aria-describedby="basicColorDarkHelp"
          title="Choose your dark color"
          [formControlName]="'basicColorDark'"
        />
      </div>
      <small id="basicColorDarkHelp" class="form-text text-muted">
        The color for the dark areas.
      </small>
    </div>
    <div class="form-group row">
      <label for="basicColorLight" class="col-form-label">Light colors</label>
      <div class="col-md-12">
        <input 
          type="color"
          class="form-control form-control-color col-md-1"
          aria-describedby="basicColorLightHelp"
          title="Choose your light color"
          [formControlName]="'basicColorLight'"
        />
      </div>
      <small id="basicColorLightHelp" class="form-text text-muted">
        The color for the dark areas.
      </small>
    </div>
  </fieldset>

<!--
<fieldset class="form-group border p-3" id="additionalSettings" *ngIf="!onlyBasicVisible">
  <legend class="w-auto px-2">Additional settings</legend>
  title and subtitle settings (title, font size, color, height)
</fieldset>

<fieldset class="form-group border p-3" id="backgroundSettings" *ngIf="!onlyBasicVisible">
  <legend class="w-auto px-2">Background settings</legend>
  image, dark and light color, image alpha, auto color adjusment
</fieldset>

<fieldset class="form-group border p-3" id="logoSettings" *ngIf="!onlyBasicVisible">
  <legend class="w-auto px-2">Logo settings</legend>
  logo image, size, background color, background transparency (alpha)
</fieldset>

<fieldset class="form-group border p-3" id="dostScaleSettings" *ngIf="!onlyBasicVisible">
  <legend class="w-auto px-2">dotScale settings</legend>
  turn it on or off with defaults
</fieldset>

<fieldset class="form-group border p-3" id="colorSettings" *ngIf="!onlyBasicVisible">
  <legend class="w-auto px-2">Other color settings</legend>
  quiet zone color, quiet zone transparency, outer position color,
  inner position color, outer position coordinates (top right, top let, bottom left),
  alignment colors (alignment inner, outer colors)
</fieldset>
-->

<div class="container">
  <div class="row">
    <!--<button type="button" class="btn btn-secondary" *ngIf="onlyBasicVisible" (click)="showMoreSettings()">Continue with other settings</button>-->
    <button type="submit" class="btn btn-primary">Generate QR code</button>
    <!--<button type="button" class="btn btn-info" *ngIf="!onlyBasicVisible">Resize QR code</button>-->
    <button type="button" class="btn btn-danger" (click)="resetToDefaults()">Clear QR code</button>
  </div>
</div>

</form>
<div #qrcode class="d-none"></div>