.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-top: 2rem;
}

.card .card-img-top-holder {
  background-color: rgba(0,0,0,.125);
  position: relative;
  border-radius: .25rem;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  display: block;
  overflow: hidden;
}

.card .text-muted {
  line-height: 31px;
}