<div class="card">
  <div class="card-img-top-holder text-center" id="previewCanvas"></div>
  <div class="card-body">
    <p class="card-text">
      This is the preview of the generated QR code. Also you can download it as PNG.
    </p>
    <div class="d-flex justify-content-between align-items-center" *ngIf="updateTime">
      <div class="btn-group">
        <a title="Download generated QR code" id="download-btn"
          download="{{ fileName }}"
          href="{{ fileUrl }}"
        >
          <button type="button" class="btn btn-sm btn-outline-success">Download</button>
        </a>
      </div>
      <small class="text-muted">
        <abbr title="Creation time of the generated QR code">UD</abbr>: {{ updateTime }}
      </small>
    </div>
  </div>
</div>