<div class="card">
<!-- TODO: dinamycally update the data-src -->
  <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: QR code cap" preserveAspectRatio="xMidYMid meet" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#6c757d"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
  <div class="card-body">
    <p class="card-text">
      This is the preview of the generated QR code. Feel free to test it here. Also you can download it as PNG.
    </p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <a href="" title="Download generated QR code" download id="download-btn">
          <button type="button" class="btn btn-sm btn-outline-success">Download</button>
        </a>
      </div>
      <small class="text-muted"><abbr title="Time of the latest update for the generated QR code">UD</abbr>: 16:10 24.02.2021</small>
    </div>
  </div>
</div>